body {
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
.container {
    max-width: 800px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 50px;
    padding-top: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 150px;
}
.text {
    font-size: 20px;
    margin: 0;
    margin-left: 8px;
    padding: 0;
    line-height: 0;
}
.section-title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}
.section-content {
    font-size: 18px;
    font-weight: lighter;
}
.pr {
    list-style: none;
    display: table;
  }
  
.PI {
    display: table-row;
}
  
.NN {
    display: table-cell;
    padding-right: 1em;
}
li {
    font-size: 18px;
    line-height: 1.3;
}
h4 {
    margin-bottom: 8px;
}
p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}